<!DOCTYPE html>
<html lang="pl" data-darkreader-mode="dynamic">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site Name</title>
    <link rel="stylesheet" href="~/css/site.css"
          asp-append-version="true" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <h1>Sim Web</h1>
        <nav>
            <a asp-page="/Index">Home</a>
            <a asp-page="/Game">Game</a>
            <a asp-page="/Privacy">Privacy</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>©2024 Adrian Gabryła</p>
    </footer>
</body>
</html>